
 @counter-style thumbs {
    system: cyclic;
    symbols: "\270C";
    font-size: 128px;
    suffix: " ";
  }
  ol,ul {
    list-style-type: thumbs;
  
  }
  li {
    font-size:50px;
  }
  
li button{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    text-shadow: 20px 20px 3px rgb(255, 247, 3);
    font-weight: 800;
    position: relative;
    background:rgb(9, 29, 248);
    color: rgb(208, 14, 14);
    border: 0.2em solid rgb(12, 168, 74);
    padding: 0.5em 1em;
    transition: transform 0.4s ease;

  
}
 li button:hover {
  transform: scale(0.1);
}
